body {
    background-image: url('../../Images/vivo1.jpg');
    background-size: cover;
    -webkit-transition: background 1s !important;
    -moz-transition: background 1s !important;
    -o-transition: background 1s !important;
    transition: background 1s !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.painel {
    padding: 40px;
    width: 310px;
    margin: 0 auto;
    height: 280px;
    background: rgba(236, 238, 241, 0.4);
    border-bottom: 15px solid rgba(79, 111, 175, 0.23);
}



.logo {
    width: 105px;
    height: 40px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 30px;
    background-image: url('../../Images/LogoIndigo.png');
}

.text {
    width: 100%;
    background-color: #dde3ec;
    height: 43px;
    color: black;
    border: 1px solid #dde3ec;
    margin: 0 auto;
    padding-left: 5px;
    margin-bottom: 10px;
}

.title {
    color: #4db3a5;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.input {
    margin-top: 40px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: #1886cf;
}

.direitos {
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    color: #dddddd;
    font-size: 13px;
}


    .wait {
        width: 310px;
        color: white;
        display: none;
        font-size: 11px;
        margin: 0 auto;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 5px;
        background: #609;
    }

    .error {
        width: 310px;
        color: white;
        display: none;
        font-size: 11px;
        margin: 0 auto;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 5px;
        background: #e52525;
    }

/*AQUI RESPONSIVIDADE DAS TABELAS DO CÃO*/

@media (max-width: 767px) {
    .painel {
        padding: 40px;
        width: 200px;
        margin: 0 auto;
        height: 170px;
        background: rgba(236, 238, 241, 0.4);
        border-bottom: 15px solid rgba(79, 111, 175, 0.23);
    }

    .wait {
        width: 200px;
        color: white;
        display: none;
        font-size: 11px;
        margin: 0 auto;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 5px;
        background: #609;
    }

    .error {
        width: 200px;
        color: white;
        display: none;
        font-size: 11px;
        margin: 0 auto;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 5px;
        background: #e52525;
    }
}
/*FINAL DA RESPONSIVIDADES DAS TABELAS DO CÃO*/
